:root {
  --button-color: linear-gradient(
    to right,
    #4776e6 0%,
    #8e54e9 51%,
    #4776e6 100%
  );
  --hover-button-color: linear-gradient(to top, #09203f 0%, #537895 100%);
  --cal-color: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  --body-color: linear-gradient(
    to right,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );
}
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--body-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.calculator {
  height: 50%;
  width: 25%;
  background-image: var(--cal-color);
  padding: 20px 20px;
  border-radius: 7px;
}
.calculator-input .result-bar {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  text-align: end;

  font-size: 35px;
  outline: none;
  border: none;
  background-image: linear-gradient(to top, #fafafa 0%, #f2f4f5 100%);
}
.calculator-buttons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}
input[type="button"] {
  height: 50px;
  padding: 3px 0;
  font-size: 25px;
  font-weight: bold;
  border: none;
  background-image: var(--button-color);
  color: white;
  transition: all 0.2s ease-in;
}
.clear {
  grid-column: 1/3;
}
.equal {
  grid-column: 3/5;
}

input[type="button"]:hover {
  background-image: var(--hover-button-color);
  transition: all 0.2s ease-in;
}
